/*-------------BODY------------------------------*/
body{
    background-color: rgb(64, 69, 74);
}
/*------------CONTENDEOR PRINCIPAL-----------------*/
#pricipal{
    margin-top: 10vh;
    margin-left: 20vw;
    padding: 0;
    border: solid;
    border-color: white;
    text-align: center;
    background-color: darkgrey;
    width: 60vw;
    height: 80vh;
}


/*--------------CONTENEDOR ENCABEZADO-----------------*/
#encabezado{
    height: 25%;
    width: 100%;
    text-align: center;
    color: orangered;
    border: solid;
    border-bottom: 0;
    border-color: white;
}

.temporizador{
    position: absolute;
    left: 70%;
    padding: 4px;
    border: solid;
}

/*-------------CONTENDER QUIZ-----------------------*/
#quiz{
    height: 65%;
    width: 100%;
    text-align: center;
    border: solid;
    border-bottom: 0;
    border-color: white;
}

/*--------------CONTENEDOR PROGRESO-----------------*/
#progreso{
    height: 10%;
    width: 100%;
    padding-top: 20px;
    border: solid;
    font-weight: bold;
    border-color: white;
    text-align: center;
}

/*----------------CONTENEDOR REGLAS----------------------*/
#reglas{
    text-align: center;
    width: 60%;
    height: 70%;
    margin-left: 20%;
}

#reglas p{
    text-align: justify;
    margin: 2%;
}

#reglas h4{
    margin-top: 3%;
    margin-bottom: 3%;
}

/* ID PREGUNTA */
#pregunta{
    height: 20%;
    color: ghostwhite;
}

/* ID RESPUESTA */
#respuesta{
    height: 70%;
    width: 80%;
    text-align: center;
    margin-top: 10%;
    margin-left: 25%;
}


.boton{
    display: block;
    margin-bottom: 3%;
    width: 60%;
    background-color: coral;
    border-radius: 3vh;
    border-color: tomato;
}

.botonComenzar{
    background-color:coral ;
    border-color: coral;
    border-radius: 3vh;
    margin-top: 10px;
}

/*-----------PANNTALLA FINAL-----------------------------*/
#titulo{
    margin-top: 10%;
}

#puntos{
    margin-top: 10%;
}

.intento{
   margin-left: 40%;
    margin-top: 10%;
    background-color: sandybrown;
    border-radius: 3vh;
    font-size: larger;
    border-color: orange;
    width: 20%;
}

.intento a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px) {
    #pricipal{
        margin-top: 0;
        margin-left: 0;
        width: 100vw;
        height: 100vh;
    }

    body{
        overflow-x: hidden;
    }
    .intento{
        width: 40%;
        margin-left: 30%;
    }
}
